<!DOCTYPE html>
<html>
<head>
  <title> Home </title>
</head>

<body>
  <h1> Home Page </h1>
  <form action="/login?result=">
    <input type="submit" value="Login">
  </form>
  <form action="/sign_up?result=">
    <input type="submit" value="Signup">
  </form>
</body>
</html>
