<!DOCTYPE html>
<html>
<head>
	<title> Token </title>
</head>

<body>
	<script>
		const get_cookie = (name) => {
			return document.cookie.split('; ').reduce((r, v) => {
				const parts = v.split('=')
				return parts[0] === name ? decodeURIComponent(parts[1]) : r
			}, '')
		}
		async function fetch_token() {
			let id = "<%= user_id %>";
			let username = "<%= username %>";

			await fetch("http://localhost:3000/token", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				},
				body: JSON.stringify({user_id: id, username: username})
			})
				.then(async (res) => {
					let result = JSON.parse(await res.text());
					if (result.status == 200) {
						let access_token = get_cookie("jwt");
						let redirect_link = result.link;
						window.location = "http://localhost:3000/" + redirect_link + "?token=" + access_token;
					}
				})
				.catch((err) => {
					console.log(err);
				});
		}

		window.onload = fetch_token;
	</script>

</body>
</html>
